<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>add modern net</h1>
    <form action="/panel/modern" method="POST">
      <input type="text" name="mod" placeholder="modern" />
      <input type="text" name="net" placeholder="internet" />
      <input type="radio" id="morning" name="time" value="9:30 AM" />
      <label for="morning">9:30 AM</label><br />
      <input type="radio" id="evening" name="time" value="4:00 PM" />
      <label for="evening">4:00 PM</label><br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
