<%- include('./partials/head.ejs') %> 
  <body>
    <!-- <h1 class="app-title">Myanmar <span>2D</span> <span>3D</span></h1> -->
    <div class="top-div">
      <h1 class="last-twod" id="last-twod">38</h1>
      <p class="last-update">✅ Update : 16 Apr, 4:30 PM</p>
    </div>
    <marquee class="marquee"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque temporibus
      blanditiis error? Suscipit perferendis, labore culpa necessitatibus
      distinctio impedit maiores, saepe cumque exercitationem quisquam fugit
      quos odit eum est itaque?</marquee
    >
    <div class="btc-div">
      <div class="first">
        <p class="twod-time">12:01 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set">1234.56</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value">6543.21</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value">65</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="btc-div">
      <div class="first">
        <p class="twod-time">4:30 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set">1234.56</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value">6543.21</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value">65</h1>
          </div>
        </div>
      </div>
    </div>
  
    <div class="action-div">
      <button><img src="schedule.png" alt="" /> View Result History</button>
    </div>

    <script>
      function getLiveData() {
        let xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/btc", false);
        xmlHttp.send(null);
        let data = JSON.parse(xmlHttp.response);
        document.getElementById("last-twod").innerText = data.twoD;
      }

      function getTodayResult(){
       
        getLiveData();

      }
      
      setInterval(() => {
        getTodayResult();
      }, 1000);
    </script>
  </body>
</html>
