<%- include('./partials/head.ejs') %> 
  <body>
    <div class="nav-bar">
        <div>
           <a class="threed-link" href="/3d">3D</a>
        </div>
        <button class="twod-link" onclick="location.href = '/2d';"><img src="schedule.png" alt="" /> 2D History</button>
    </div>
    <div class="top-div">
      <h1 class="last-twod" id="current-result">--</h1>
      <p class="last-update" id="current-update">Data Loading ... </p>
    </div>
  <% if (holiday) { %>
     <div class="alert-div">
      <p> 2D Closed ❌ <%= whyholiday %> </p>
    </div>
  <% } %>
    <div class="twod-div">
      <div class="first">
        <p class="twod-time">12:01 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set" id="noon-set">--</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value" id="noon-value">--</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value" id="noon-result">--</h1>
          </div>
        </div>
      </div>
      <div class="last">
        <p class="twod-time">4:30 PM</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set" id="evening-set">--</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value" id="evening-value">--</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value" id="evening-result">--</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="btc-div">
      <div class="first">
        <p class="twod-time">BTC</p>
        <div class="flex">
          <div class="col">
            <p class="twod-title">SET</p>
            <h1 class="twod-set">1234.56</h1>
          </div>
          <div class="col">
            <p class="twod-title">VALUE</p>
            <h1 class="twod-value">6543.21</h1>
          </div>
          <div class="col">
            <p class="twod-title">RESULT</p>
            <h1 class="twod-value">65</h1>
          </div>
        </div>
      </div>
    </div> -->
    <div class="mod-div">
      <div class="morning-div">
        <div>
          <p class="mod-title">Modern</p>
          <p class="mod-result" id="morning-mod">--</p>
        </div>
        <div>
          <p class="mod-time">9:30 AM</p>
        </div>
        <div>
          <p class="mod-title">Internet</p>
          <p class="mod-result" id="morning-net">--</p>
        </div>
      </div>
      <div class="noon-div">
        <div>
          <p class="mod-title">Modern</p>
          <p class="mod-result" id="noon-mod">--</p>
        </div>
        <div>
          <p class="mod-time">2:00 PM</p>
        </div>
        <div>
          <p class="mod-title">Internet</p>
          <p class="mod-result" id="noon-net">--</p>
        </div>
      </div>
    </div>

    <script>

      function compareTime(str1, str2){
          if(str1 === str2){
              return 0;
          }
          var time1 = str1.split(':');
          var time2 = str2.split(':');
          if(eval(time1[0]) > eval(time2[0])){
              return true;
          } else if(eval(time1[0]) == eval(time2[0]) && eval(time1[1]) > eval(time2[1])) {
              return true;
          } else {
              return false;
          }
      }

      function getLiveData(time) {
        let xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/live", false);
        xmlHttp.send(null);
        let data = JSON.parse(xmlHttp.response);
        if(time === "noon"){
          document.getElementById("evening-set").classList.remove("blink-me");
          document.getElementById("evening-value").classList.remove("blink-me");
          document.getElementById("noon-set").classList.add("blink-me");
          document.getElementById("noon-value").classList.add("blink-me");
          document.getElementById("current-result").classList.add("blink-me");
          document.getElementById("current-result").innerText = data.result;
          document.getElementById("current-update").innerText =  "Updated : " + data.lastUpdate;
          document.getElementById("noon-set").innerText = data.set;
          document.getElementById("noon-value").innerText =  data.value;
          document.getElementById("noon-result").innerText = "--";

     
        }else if (time === "evening"){
          document.getElementById("noon-set").classList.remove("blink-me");
          document.getElementById("noon-value").classList.remove("blink-me");
          document.getElementById("evening-set").classList.add("blink-me");
          document.getElementById("evening-value").classList.add("blink-me");
          document.getElementById("current-result").classList.add("blink-me");
          document.getElementById("current-result").innerText = data.result;
          document.getElementById("current-update").innerText =  "Updated : " + data.lastUpdate;
          document.getElementById("evening-set").innerText = data.set;
          document.getElementById("evening-value").innerText =  data.value;
          document.getElementById("evening-result").innerText = "--";
        }
      }

      function getTodayData() {
          let xmlHttp = null;
          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", "/api/today", false);
          xmlHttp.send(null);
          let data = JSON.parse(xmlHttp.response);
          return data;
      }

      function getFinalData() {
          let xmlHttp = null;
          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", "/api/today", false);
          xmlHttp.send(null);
          let data = JSON.parse(xmlHttp.response);
          document.getElementById("noon-set").classList.remove("blink-me");
          document.getElementById("noon-value").classList.remove("blink-me");
          document.getElementById("evening-set").classList.remove("blink-me");
          document.getElementById("evening-value").classList.remove("blink-me");
          document.getElementById("current-result").innerText = data.twoD[1].result;
          document.getElementById("current-update").innerText =  "Updated : " + data.twoD[1].date + " " + data.twoD[1].time;
          document.getElementById("noon-set").innerText = data.twoD[0].set;
          document.getElementById("noon-value").innerText =  data.twoD[0].value;
          document.getElementById("noon-result").innerText = data.twoD[0].result;
          document.getElementById("evening-set").innerText = data.twoD[1].set;
          document.getElementById("evening-value").innerText =  data.twoD[1].value;
          document.getElementById("evening-result").innerText = data.twoD[1].result;
      }

      function getYesterdayData() {
          let xmlHttp = null;
          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", "/api/yesterday", false);
          xmlHttp.send(null);
          let data = JSON.parse(xmlHttp.response);
          document.getElementById("noon-set").classList.remove("blink-me");
          document.getElementById("noon-value").classList.remove("blink-me");
          document.getElementById("evening-set").classList.remove("blink-me");
          document.getElementById("evening-value").classList.remove("blink-me");
          document.getElementById("current-result").innerText = data.twoD[1].result;
          document.getElementById("current-update").innerText =  "Updated : " + data.twoD[1].date + " " + data.twoD[1].time;
          document.getElementById("noon-set").innerText = data.twoD[0].set;
          document.getElementById("noon-value").innerText =  data.twoD[0].value;
          document.getElementById("noon-result").innerText = data.twoD[0].result;
          document.getElementById("evening-set").innerText = data.twoD[1].set;
          document.getElementById("evening-value").innerText =  data.twoD[1].value;
          document.getElementById("evening-result").innerText = data.twoD[1].result;
      }


      function init(){
        let now = new Date().getHours() + ":" + new Date().getMinutes();
        let todayData = getTodayData();
        let isHoliday = '<%= holiday ;%>';
        let whyHoliday = '<%= whyholiday ;%>';
        document.getElementById("morning-mod").innerText = todayData.modNet[0] ? todayData.modNet[0].mod : "--";
        document.getElementById("morning-net").innerText = todayData.modNet[0] ? todayData.modNet[0].net : "--";;
        document.getElementById("noon-mod").innerText = todayData.modNet[1] ? todayData.modNet[1].mod : "--";;
        document.getElementById("noon-net").innerText = todayData.modNet[1] ? todayData.modNet[1].net : "--";;
        console.log('today holiday ? ' , isHoliday);
        console.log('today data  ' , todayData);

        if (isHoliday === true) {
          document.getElementById("current-update").innerText ='No Data Available';
        } else {
          if (todayData.twoD.length < 1 ) {
            if (compareTime(now,"9:00") && !compareTime(now,"12:01")) {
              getLiveData('noon');
            } else {
              document.getElementById("current-update").innerText ='No Data Available';
            }
          } else if (todayData.twoD.length === 1){
            document.getElementById("current-result").innerText = todayData.twoD[0].result;
            document.getElementById("current-update").innerText = "Updated : " + todayData.twoD[0].date + " " + todayData.twoD[0].time;
            document.getElementById("noon-set").innerText = todayData.twoD[0].set;
            document.getElementById("noon-value").innerText =  todayData.twoD[0].value;
            document.getElementById("noon-result").innerText = todayData.twoD[0].result;
            if (compareTime(now,"14:00") && !compareTime(now,"16:30")) {
              getLiveData('evening');
            }
          } else if (todayData.twoD.length >= 2) {
            getFinalData();
          }
        }
      }

      setInterval(() => {
        init();
      }, 3000);
</script>
  </body>

</html> 
